@font-face {
  font-family: 'Mama Kilo Decorated';
  src: url('./assets/fonts/MamakiloDecorative-nRXA1.ttf');
}

@font-face {
  font-family: 'Mama Kilo';
  src: url('./assets/fonts/MamakiloBlack-lgLx5.ttf');
}

* {
  font-family: 'Mama Kilo';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
